/* universal selector  */
* {
  padding: 0;
  margin: 0;
  list-style: none;
  text-decoration: none;
  font-family: sans-serif;
  outline: none;
}

/* bg img for main  */
body {
  background-image: url(./img/photo-1604949210966-9440c324823f.avif);
  background-size: cover;
  width: 100%;
  height: 100vh;
}

/* header */
.header-conatiner {
  display: flex;
  justify-content: center;
  width: 100%;
  color: #fff;
}
.container-heading {
  display: flex;
  justify-content: space-around;
  align-items: last baseline;
  background-color: rgba(255, 255, 255, 0.456);
  border: 1px solid rgba(255, 255, 255, 0.51);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.479);
  backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 4px;
  gap: 2rem;
  margin-top: 1rem;
}
/* header end */

/* main sec  */
.main-sec {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  color: #fff;
}

/* main sec container  */
.main-sec-container {
  height: 25rem;
  width: 80%;
  /* background-color: red; */
  padding: 1rem;
  background-color: rgba(255, 255, 255, 0.456);
  border: 1px solid rgba(255, 255, 255, 0.51);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.479);
  backdrop-filter: blur(10px);
  padding: 1rem;
  border-radius: 4px;
  gap: 2rem;
}

/* heading of main container  */
.main-sec-top-text {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
}

/* day and city area  */
#day,
#city {
  font-size: 3rem;
  font-weight: 700;
  background-color: rgba(0, 0, 0, 0.43);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.479);
  color: #fff;
  padding: 0.5rem;
  transition: all 0.2s ease-in-out;
  border-radius: 4px;
}
#day:hover,
#city:hover {
  font-weight: 700;
  background-color: rgba(255, 255, 255, 0.43);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.479);
  color: rgba(0, 0, 0, 0.527);
  padding: 0.5rem;
}
/* day and city area end  */

/* imp area input area */
#tem-inp {
  width: 30rem;
  height: 2rem;
  font-size: 1rem;
  padding: 0.5rem;
  text-align: center;
}
.input-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  /* background-color: aqua; */
  margin-top: 2rem;
}
form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.input-container input {
  border-radius: 4px;
  border: none;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.479);
}
/* imp area input area */

/* button */
#check {
  font-size: 1rem;
  padding: 0.5rem;
  width: 8rem;
  border: none;
  border-radius: 4px;
  background-color: rgba(0, 0, 0, 0.43);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.479);
  color: #fff;
  letter-spacing: 1px;
  cursor: pointer;
  transition: all 0.2s ease-in-out;
}
#check:active {
  transform: scale(0.975);
}
#check:hover {
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.479);
  background-color: rgba(255, 255, 255, 0.43);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.479);
  color: rgba(0, 0, 0, 0.655);
}

/* output area by js via prompt input  */
.output {
  font-size: 1rem;
  background-color: rgba(0, 0, 0, 0.43);
  margin-top: 2rem;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.479);
}
.greetingWelcome {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.905);
  background-color: rgba(0, 0, 0, 0.43);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.479);
  border-radius: 4px;
}
.emoji {
  font-size: 4rem;
}
/* footer */
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 1rem;
  width: 75%;
  padding: 1rem;
  background-color: rgba(0, 0, 0, 0.43);
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.479);
  border-radius: 4px;
  color: #fff;
  letter-spacing: 1px;
  margin-top: 2rem;
}
.footer-container a {
  color: #fff;
}
